<div class="btn-group prop-dropdown">
    <button type="button" class="btn btn-success btn-val"
        *ngIf="selectedInputType==='object'">{{selected.selectedProp}}</button>
    <button type="button" class="btn btn-success btn-val" *ngIf="selectedInputType==='string'">{{selected}}</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <ng-container *ngIf="selectedInputType==='object'">
            <a class="dropdown-item" *ngFor="let item of items" (click)="selectedProperty(item, selected)">{{item}}</a>
        </ng-container>
        <ng-container *ngIf="selectedInputType==='string'">
            <a class="dropdown-item" *ngFor="let item of items" (click)="selectedProperty(item)">{{item}}</a>
        </ng-container>
    </div>
</div>